DirectoryIndex index.php
Options +FollowSymlinks
Options -Indexes
RewriteRule (^\.|/\.) - [F]	
<FilesMatch "\.(ini|log|sh|zip)$">
Order Allow,Deny
Deny from all
</FilesMatch>
RewriteEngine on

#RewriteRule . - [E=REWRITEBASE:/farmbiz_api/]
#RewriteBase /
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ public/$1 [L]